.Rproj.user
.Rhistory
.RData
.Ruserdata
styles_temp.css
Benchmarking en Cadenas MCMC_files
Benchmarking-en-Cadenas-MCMC_cache
Introduccion_estadisitica_bayes_cache
Introduccion_estadisitica_bayes_files
Presentacion/recursos/epred_mat.rds
Presentacion/recursos/Multinivel_multinomial_model.rds
Presentacion/recursos/Multinivel_multinomial_model_no_cor.rds
Presentacion/recursos/Normal/model_NormalMedia.rds
Presentacion/recursos/Normal/model_NormalMedia2.rds
Presentacion/recursos/poststrat_df_iter_ingreso.rds
Presentacion/recursos/poststrat_df_iter_ingreso_logit.rds
Presentacion/recursos/resul_validar_modelo.rds
Presentacion/recursos/resul_validar_modelo_no_cor.rds
Recursos/Dia1_S2/img/Normal/model_NormalMedia.rds
Recursos/Dia1_S2/img/Normal/model_NormalMedia2.rds
Recursos/Dia2_S2/data/poststrat_df_iter_ingreso.rds
Recursos/Dia2_S2/data/poststrat_df_iter_ingreso_logit.rds
Recursos/Dia2_S2/data/Multinivel_multinomial_model_no_cor.rds
Recursos/Dia2_S2/data/epred_mat.rds
Recursos/Dia3_S2/data/poststrat_df_iter_ingreso.rds
Recursos/Dia3_S2/data/poststrat_df_iter_ingreso_logit.rds
Recursos/Dia3_S2/data/Multinivel_multinomial_model_no_cor.rds
Recursos/Dia3_S2/data/epred_mat.rds
Recursos_00
Recursos
Presentacion
SAE_ODS_0_files
Introduccion_estadisitica_bayes_files
Modelos_ingreso_files
Benchmarking_files
Benchmarking1_files
Benchmarking2_files
Modelo_ingreso_medio_files





./.git/objects/0c/31a97d4852850ff22a1cd9b0b6b0aba694aecb
./.git/objects/0f/7917f2050ec2dc7c02dc55add5dbb55022736c
./.git/objects/2d/41f70cb690a52e2c7ae93c34b0c0e32a77f2d8
./.git/objects/4e/ec3579730412b4e6b81595f9c9b306ba6e2fdb
./.git/objects/53/4e48ebda895acdaeaaa066a52c99615c7f6045
./.git/objects/5c/c0861f9fdc92d40e6ae2eb7569dc03f64389d8
./.git/objects/77/c6ec9f403eb9f16214c0eff83f5e7d96e03682
./.git/objects/89/2990ca2537fe1392a6550036bef28fcb8ca4c3
./.git/objects/96/3cf8ef0ace593c3efd2e1005b59fe9866a9290
./.git/objects/99/be26d9d8e8435bbc8fa0d43392e142c77a8ace
./.git/objects/a3/a6e81aa6303df9daeccf87d11f84545ff34baf
./.git/objects/bc/baede59da8383f330a214fd1610df648768036
./.git/objects/e3/254ce0e6e8f8a3df3c8188dc6ba0251bed827d
./.Rproj.user/092796D7/ctx/ctx-9712/environmentTmp
./Presentacion/Benchmarking-en-Cadenas-MCMC_cache/revealjs/unnamed-chunk-23_2d94175defcd3f62511f196ba9b74ff9.rdb
./Presentacion/Introduccion_estadisitica_bayes_cache/revealjs/unnamed-chunk-24_32f6dd3bc13e72044fee5fee2d6e7893.rdb
./Presentacion/Introduccion_estadisitica_bayes_cache/revealjs/unnamed-chunk-33_535ee06a2b9569953830b4ade7e9eb3d.rdb
./Presentacion/recursos/epred_mat.rds
./Presentacion/recursos/Multinivel_multinomial_model.rds
./Presentacion/recursos/Multinivel_multinomial_model_no_cor.rds
./Presentacion/recursos/Normal/model_NormalMedia.rds
./Presentacion/recursos/Normal/model_NormalMedia2.rds
./Presentacion/recursos/poststrat_df_iter_ingreso.rds
./Presentacion/recursos/poststrat_df_iter_ingreso_logit.rds
./Presentacion/recursos/resul_validar_modelo.rds
./Presentacion/recursos/resul_validar_modelo_no_cor.rds
./Recursos/Día00_Introducción/S2_Bayesiana/img/Normal/model_NormalMedia.rds
./Recursos/Día00_Introducción/S2_Bayesiana/img/Normal/model_NormalMedia2.rds
./Recursos/Día00_Introducción/S2_Bayesiana/Introduccion_estadisitica_bayes_cache/revealjs/unnamed-chunk-24_85e725d2366069def6ad2f816400f965.rdb
./Recursos/Día00_Introducción/S2_Bayesiana/Introduccion_estadisitica_bayes_cache/revealjs/unnamed-chunk-33_9162946e049b78eccf4db9b792d1ccbe.rdb
./Recursos/Día1/Recurso/data/Modelo_area/ingreso/model_FH_normal.rds
./Recursos/Día1/Recurso/data/Modelo_area/ingreso/model_FH_normal_loging.rds
./Recursos/Día1/Recurso/data/Modelo_unidad/epred_mat.rds
./Recursos/Día1/Recurso/data/Modelo_unidad/poststrat_df_iter_ingreso_dam.rds
./Recursos/Día1/Recurso/data/Modelo_unidad/poststrat_df_iter_ingreso_nacional.rds
./Recursos/Día2/Recursos/Modelo_unidad/epred_mat.rds
./Recursos/Día2/Recursos/Modelo_unidad/poststrat_df_iter_pobreza.rds
./Recursos/Día2/Sesion_23_Benchmarking2/Benchmarking2_cache/revealjs/unnamed-chunk-7_709985024cacfdede1d19711d35aca0a.rdb
./Recursos/Día3/Recurso/Modelo_area/fit_multinomial_no_cor.Rds
./Recursos/Día3/Recurso/Modelo_unidad/Multinivel_multinomial_model_no_cor.rds
./Recursos/Día3/Recurso/Modelo_unidad/Multinivel_multinomial_model_no_cor_dam2.rds
./Recursos/Día3/Recurso/Modelo_unidad/result_iter_calib.rds
./Recursos/Día3/Recurso/Modelo_unidad/resul_validar_modelo_no_cor.rds
./Recursos/Día3/Recurso/Modelo_unidad/resul_validar_modelo_no_cor2.rds
./Recursos_00/Dia1_S2/img/Normal/model_NormalMedia.rds
./Recursos_00/Dia1_S2/img/Normal/model_NormalMedia2.rds
./Recursos_00/Dia1_S2/Introduccion_estadisitica_bayes_cache/revealjs/unnamed-chunk-24_85e725d2366069def6ad2f816400f965.rdb
./Recursos_00/Dia1_S2/Introduccion_estadisitica_bayes_cache/revealjs/unnamed-chunk-33_9162946e049b78eccf4db9b792d1ccbe.rdb
./Recursos_00/Dia2_S1/data/empleo/fit_multinomial_no_cor.Rds
./Recursos_00/Dia2_S2/data/epred_mat.rds
./Recursos_00/Dia2_S2/data/Multinivel_multinomial_model_no_cor.rds
./Recursos_00/Dia2_S2/data/poststrat_df_iter_ingreso.rds
./Recursos_00/Dia2_S2/data/poststrat_df_iter_ingreso_logit.rds
./Recursos_00/Dia3_S1/data/epred_mat.rds
./Recursos_00/Dia3_S1/data/ingreso/poststrat_df_iter_ingreso_dam.rds
./Recursos_00/Dia3_S1/data/ingreso/poststrat_df_iter_ingreso_nacional.rds
./Recursos_00/Dia3_S1/data/Multinivel_multinomial_model_no_cor.rds
./Recursos_00/Dia3_S1/data/pobreza/epred_mat.rds
./Recursos_00/Dia3_S1/data/pobreza/poststrat_df_iter_pobreza.rds
./Recursos_00/Dia3_S1/data/pobreza/poststrat_df_iter_pobreza_dam.rds
./Recursos_00/Dia3_S1/data/pobreza/poststrat_df_iter_pobreza_nacional.rds
./Recursos_00/Dia3_S1/data/poststrat_df_iter_ingreso.rds
./Recursos_00/Dia3_S1/data/poststrat_df_iter_ingreso_logit.rds
./Recursos_00/Dia3_S2/data/empleo/fit_multinomial_no_cor.Rds
