.Rproj.user
.Rhistory
.RData
.Ruserdata
styles_temp.css
Benchmarking en Cadenas MCMC_files
Benchmarking-en-Cadenas-MCMC_cache
Introduccion_estadisitica_bayes_cache
Introduccion_estadisitica_bayes_files
Presentacion/recursos/epred_mat.rds
Presentacion/recursos/Multinivel_multinomial_model.rds
Presentacion/recursos/Multinivel_multinomial_model_no_cor.rds
Presentacion/recursos/Normal/model_NormalMedia.rds
Presentacion/recursos/Normal/model_NormalMedia2.rds
Presentacion/recursos/poststrat_df_iter_ingreso.rds
Presentacion/recursos/poststrat_df_iter_ingreso_logit.rds
Presentacion/recursos/resul_validar_modelo.rds
Presentacion/recursos/resul_validar_modelo_no_cor.rds  
Recursos/Dia1_S2/img/Normal/model_NormalMedia.rds
Recursos/Dia1_S2/img/Normal/model_NormalMedia2.rds
Recursos/Dia2_S2/data/poststrat_df_iter_ingreso.rds
Recursos/Dia2_S2/data/poststrat_df_iter_ingreso_logit.rds
Recursos/Dia2_S2/data/Multinivel_multinomial_model_no_cor.rds
Recursos/Dia2_S2/data/epred_mat.rds
Recursos/Dia3_S2/data/poststrat_df_iter_ingreso.rds
Recursos/Dia3_S2/data/poststrat_df_iter_ingreso_logit.rds
Recursos/Dia3_S2/data/Multinivel_multinomial_model_no_cor.rds
Recursos/Dia3_S2/data/epred_mat.rds